body{
    background-color: rgb(1, 1, 27);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
}
.App{
    width: 70vw;    
}
.todo-list{
    height: fit-content;
    background-color: rgb(13, 13, 61);
    color: white;
    line-height: 40px;
    font-size: 1.2em;
}
.todo-item{
    padding: 10px;
    &:hover{
        padding: 12px;
        background-color: rgb(88, 170, 238);
        color: black;
        cursor: pointer;
    }
}
.add-todo{
    input{
        box-sizing: border-box;
        padding: 20px;
        width: 100%;
        font-size: 1.3em;
        word-wrap: break-word;
    }
}
